/* MessageBox.css */
.message-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}

#message {
    color: #FF729F;
    font-size: 6vmin;
}

.congratulations {
    animation: congrats 2000ms infinite;
}

@keyframes congrats {
    0% {
        color: #81F4E1;
    }
    10% {
        color: #FAFF7F;
    }
    20% {
        color: #FF729F;
    }
    40% {
        color: #ABC8C0;
    }
    60% {
        color: #1EA896;
    }
    80% {
        color: #ABC8C0;
    }
    100% {
        color: #81F4E1;
    }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.5s ease; /* Add transition for height */
}

.container.winner-announced {
  height: 200px; /* Set the height to whatever value you want */
}

.player-names {
  margin-bottom: 20px; /* Adjust margin as needed */
}


